.icon-user_business_boss{
	background:url('icon1/user_business_boss.png') no-repeat center center;
}
.icon-flag_purple{
	background:url('icon1/flag_purple.png') no-repeat center center;
}
.icon-application_edit1{
	background:url('icon1/application_edit.png') no-repeat center center;
}
.icon-monitor_edit{
	 background:url('icon1/monitor_edit.png') no-repeat center center;
 }
.icon-door_out{
	 background:url('icon1/door_out.png') no-repeat center center;
 }
.icon-door_in{
	 background:url('icon1/door_in.png') no-repeat center center;
 }
.icon-calendar_view_day{
	 background:url('icon1/calendar_view_day.png') no-repeat center center;
 }
.icon-heart_add{
	 background:url('icon1/heart_add.png') no-repeat center center;
 }
.icon-email{
	 background:url('icon1/email.png') no-repeat center center;
 }
.icon-DeleteRed{
	 background:url('icon1/DeleteRed.png') no-repeat center center;
 }
.icon-pencil{
	 background:url('icon1/pencil.png') no-repeat center center;
 }
.icon-user_add{
	 background:url('icon1/user_add.png') no-repeat center center;
 }
.icon-user_delete{
	 background:url('icon1/user_delete.png') no-repeat center center;
 }
.icon-book_edit{
	 background:url('icon1/book_edit.png') no-repeat center center;
 }
.icon-award_star_silver_1{
	 background:url('icon1/award_star_silver_1.png') no-repeat center center;
 }
.icon-application_side_list{
	 background:url('icon1/application_side_list.png') no-repeat center center;
 }
.icon-thumb_up{
	 background:url('icon1/thumb_up.png') no-repeat center center;
 }
.icon-thumb_down{
	 background:url('icon1/thumb_down.png') no-repeat center center;
 }
.icon-user_accept16{
	 background:url('icon1/user_accept16.png') no-repeat center center;
 }
.icon-user_reject16{
	 background:url('icon1/user_reject16.png') no-repeat center center;
 }
.icon-page_white_text{
	 background:url('icon1/page_white_text.png') no-repeat center center;
 }
.icon-page_back{
	 background:url('icon1/page_back.png') no-repeat center center;
 }
